.form__field {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 31px 0 8px 0;
    outline:none;
}

.form__field:first-child {
    padding: 0 0 8px 0;
  }

@media screen and (max-width: 898px) {
    .form__field {
        padding: 34px 0 7px 0;
    }
}