.profile {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    gap: 30px;
    align-items: center;
    padding: 40px 0 0 0;
}

@media screen and (max-width: 898px) {
    .profile {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        justify-items: center;
        padding: 42px 0 0 0;
    }
}