.profile__name {
    font-size: 42px;
    font-weight: 500;
    color: white;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 294px;
    padding: 0;
}

@media screen and (max-width: 898px) {
    .profile__name {
        font-size: 27px;
        width: 189px;
    }
}